.chart{
    background-color: rgb(0 30 60);
    padding-left: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
-webkit-box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
}
.chartTitle{
    margin-bottom: 20px;
    color: rgb(211, 207, 207);
}