.widgetLg1{
    flex: 2;
    box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
    padding: 20px;
    margin-left:25px;
    height: 500px;
    width: 1000px;
    color: rgb(211, 207, 207);
   
}
.widgetLgTitle1{
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
}
.widgetLgTable1{
    width: 100%;
    border-spacing: 20px;
}
.widgetLgTh1{
    text-align: left;
}
.widgetLgUser1{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgetLgImg1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.widgetLgButton1{
    padding: 5px 7px;
    border-radius: 10px;
    border: none;
    width: 100px;

}
.widgetLgButton1.Approved{
    background-color: #004d2f00;
    color: #00ff84;
}
.widgetLgButton1.Declined{
    background-color: #94000a00;
    color: #ff4a4a;

}
.widgetLgButton1.Pending{
    background-color: #00257500;
    color: #4197ff;
}
.widgwtLgDate1,.widgwtLgAmount1{
    font-weight: 300;
}