.widgetSm{
    flex: 1;
    box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
-webkit-box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(81,93,217,0.75);
    padding: 20px;
    height: 500px;
    color: rgb(211, 207, 207);
    margin-top: 5px;
    margin-bottom:10px;
}
.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}
.widgetSmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit:cover;
}
.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.widgetSmlistItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}
.widgetSmUsername{
    font-weight: 600;
}
.widgetSmUserTitle{
    font-weight: 300;
    text-align: center;
}
.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: rgb(144 202 249);
    color:black;
    cursor:pointer;
}
.widgetSmButton:hover{
    background-color:rgb(102 178 255);
    color: white;
}
.widgetSmIcon{
    font-size: 16px !important;
    border-right: 5px;
}